<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>server_pro</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- -->
	<servlet>
		<servlet-name>singlethread</servlet-name>
		<servlet-class>com.github.sakaguchi3.serverpro.server.SingleThreadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>singlethread</servlet-name>
		<url-pattern>/singlethread</url-pattern>
	</servlet-mapping>


	<!-- -->
	<servlet>
		<servlet-name>restResource</servlet-name>
		<servlet-class>com.github.sakaguchi3.serverpro.server.ResourceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>restResource</servlet-name>
		<url-pattern>/api/v1/resource</url-pattern>
	</servlet-mapping>

	<!-- -->
	<servlet>
		<servlet-name>token</servlet-name>
		<servlet-class>com.github.sakaguchi3.serverpro.server.TokenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>token</servlet-name>
		<url-pattern>/api/v1/token/*</url-pattern>
	</servlet-mapping>


	<!-- -->
	<!-- -->
	<servlet>
		<servlet-name>defaultServer</servlet-name>
		<servlet-class>com.github.sakaguchi3.serverpro.server.DefaultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>defaultServer</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<!-- basic auth -->
<!--  
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>User Basic Auth</web-resource-name>
			<url-pattern>/token</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>role1</role-name>
		</auth-constraint>
	</security-constraint> 
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>User Basic Auth</realm-name>
	</login-config> 
	<security-role>
		<role-name>role1</role-name>
	</security-role>
-->

</web-app>