
# ------------------------------
# java
# ------------------------------
*.class
/target/
bin/
build/
logs/

# ------------------------------
# eclipse 
# ------------------------------
.settings/
.classpath
.project

# ------------------------------
# tomcat
# ------------------------------
META-INF/

# ------------------------------
# project
# ------------------------------
**/local/*.xml
**/local/*.properties
?*.gitignorefile

# ------------------------------
# other
# ------------------------------
.DS_Store

